body {
	font-family: 'Montserrat', sans-serif;
	background-color: ghostwhite;
	position: relative;
	padding-bottom: 75px;

}

.name{
	font-size: 2rem;
	margin: 0px;
	color: #333;
}
#nav-area {
	min-height: 5rem;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
#nav-area ul{
	margin-bottom: 0px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	width: 60%;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
#nav-area li {
	text-decoration: none;
	list-style: none;
	-webkit-box-flex: 2;
	-webkit-flex-grow: 2;
	-ms-flex-positive: 2;
	flex-grow: 2;
}
li span {
	display: block;
	padding: .5rem;
	color: #333;
	-webkit-transition-duration: .4s;
	transition-duration: .4s;
}
.ion-email,.ion-social-facebook,.ion-social-github,.ion-social-linkedin {
	font-size: 1.7rem;
}
.ion-email:hover,.ion-social-facebook:hover,.ion-social-github:hover,.ion-social-linkedin:hover {
	-webkit-transform: scale(1.4);
	transform: scale(1.4)
}
.h2-div {
	padding-left: 3rem;
	padding-right: 3rem;
	margin-top: 40px;
	text-align: center;
}
.hidden-nav {
	background-color: #333;
	color: white;
	transition: all .5s ease-in;
	position: fixed;
	width: 100%;
	margin-top: -100px;
	z-index: 100;
}
.hidden-nav .ion-email,
.hidden-nav .ion-social-facebook,
.hidden-nav .ion-social-github,
.hidden-nav .ion-social-linkedin {
	color: white;
	position: relative;
	margin-top: -100px;
}
.hidden-nav .ion-email {
	transition: margin-top .8s ease-in;
	
}
.hidden-nav .ion-social-facebook {
	transition: margin-top 1s ease-in;
}
.hidden-nav .ion-social-github{
	transition: margin-top 1.2s ease-in;
}
.hidden-nav .ion-social-linkedin{
	transition: margin-top 1.4s ease-in;
}
#name{
	font-size: 2rem;
	margin: 0px;
	color: white;
	position: relative;
	/* margin-left: -600px; */
	transition: all 1s ease-in-out;
}
#header{
	position: relative;
	padding-top: 80px;
	padding-bottom: 80px;
	
	/* 
	background: rgb(0, 153, 0); */
	background: url("https://www.phyramid.com/blog/content/images/2014/11/header-background-indexed.png");
	text-align: center;
}
#skills{
	position: absolute;
	color: gray;
	bottom: 0px;
	left: 0px;
	width: 100%;
	text-align: center;
	font-size: 1.5rem;
	text-shadow: -4px 6px 15px black;
}
#header h1 {
	font-size: 2.5rem;
	font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
	font-weight: 800;
	line-height: 1.3;
	text-shadow: -2px 2px 15px white;
}
.info {
	padding: 2.6rem 1.3rem 0rem 1.3rem;
	text-align: center;
}
.info p {
	font-size: 1.5rem;
}
hr{
	background-color: #333;
	margin-top: 0px;
	height: 2px;
}
#gallery-heading {
	padding-left: 3rem;
	padding-right: 3rem;
	margin-top: 3rem;
	text-align: center;
}
#gallery-heading h3 {
	margin: 10px;
}
/* jssor slider bullet navigator skin 01 css */
	/*
	.jssorb01 div           (normal)
	.jssorb01 div:hover     (normal mouseover)
	.jssorb01 .av           (active)
	.jssorb01 .av:hover     (active mouseover)
	.jssorb01 .dn           (mousedown)
	*/
.jssorb01 {
		position: absolute;
}
.jssorb01 div, .jssorb01 div:hover, .jssorb01 .av {
		position: absolute;
		/* size of bullet elment */
		width: 12px;
		height: 12px;
		filter: alpha(opacity=70);
		opacity: .7;
		overflow: hidden;
		cursor: pointer;
		border: #000 1px solid;
}
.jssorb01 div { background-color: gray; }
.jssorb01 div:hover, .jssorb01 .av:hover { background-color: #d3d3d3; }
.jssorb01 .av { background-color: #fff; }
.jssorb01 .dn, .jssorb01 .dn:hover { background-color: #555555; }

/* jssor slider arrow navigator skin 02 css */
/*
.jssora02l                  (normal)
.jssora02r                  (normal)
.jssora02l:hover            (normal mouseover)
.jssora02r:hover            (normal mouseover)
.jssora02l.jssora02ldn      (mousedown)
.jssora02r.jssora02rdn      (mousedown)
*/
.jssora02l, .jssora02r {
		display: block;
		position: absolute;
		/* size of arrow element */
		width: 55px;
		height: 55px;
		cursor: pointer;
		background: url('../assets/images/a02.png') no-repeat;
		overflow: hidden;
}
.jssora02l { background-position: -3px -33px; }
.jssora02r { background-position: -63px -33px; }
.jssora02l:hover { background-position: -123px -33px; }
.jssora02r:hover { background-position: -183px -33px; }
.jssora02l.jssora02ldn { background-position: -3px -33px; }
.jssora02r.jssora02rdn { background-position: -63px -33px; }
.section-left {display: none;}
#form-container {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-top: 5px;
	text-align: center;
}
#form {
	position: relative;
	width: 350px;
	margin: 0 auto;
}
.footer {
	background: #333;
	min-height: 50px;
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
}
#contact{
	font-size: 1.8rem;
}
.buttons_reverse{
	background-color: antiquewhite;
}
#skills {
	color: #99e600;
}

@media(min-width: 500px){
	#form {
		position: relative;
		width: 450px;
		margin: 0 auto;
	}
	.name,
	#name{
		font-size: 2.5rem;
	}

	#nav-area ul{
		-webkit-box-pack: end;
		-webkit-justify-content: flex-end;
		-ms-flex-pack: end;
		justify-content: flex-end;
	}


	#nav-area a {
		margin-left: 1.5rem;
	}
	.ion-email,.ion-social-facebook,.ion-social-github,.ion-social-linkedin {
		font-size: 2.3rem;
	}
	.ion-email:hover,.ion-social-facebook:hover,.ion-social-github:hover,.ion-social-linkedin:hover {
		-webkit-transform: scale(1.3);
		transform: scale(1.3)
	}
	#header{
		padding-top: 100px;
		padding-bottom: 100px;
	}
	#header h1 {
		font-size: 4.5rem;
	}

	.info {
		padding: 2.6rem 3.3rem 0rem 3.3rem;
		text-align: center;
	}
	.info p {
		font-size: 1.9rem;
	}
	#skills{
			font-size: 2.2rem;
	}
	#gallery-heading h3 {
		font-size: 4rem;
	}
}
@media(min-width: 800px){
	#nav-area {
		min-height: 8rem;
	}

	#name,
	.name{
		font-size: 2.9rem;
	}
	#skills{
		font-size: 3rem;
	}

	#nav-area ul{
		-webkit-box-pack: end;
		-webkit-justify-content: flex-end;
		-ms-flex-pack: end;
		justify-content: flex-end;
	}
	.form-container {
		width: 70%;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
		margin: 0 auto;
		left: 600px;
		-webkit-transition-property: left;
		transition-property: left;
		-webkit-transition-duration: 2s;
		transition-duration: 2s;
		padding: 0 14% 0 8%;
		overflow: hidden;
	}
	#form {
		position: relative;
		left: 800px;
		-webkit-transition-property: left;
		transition-property: left;
		-webkit-transition-duration: 1.4s;
		transition-duration: 1.4s;
		-webkit-transition-timing-function: cubic-bezier(0, 0, 0.19, 1.51);
		transition-timing-function: cubic-bezier(0, 0, 0.19, 1.51);
	}
	.section-left {
		position: relative;
		display: inline-block;
		width: 60%;
		left: -600px;
		-webkit-transition-property: left;
		transition-property: left;
		-webkit-transition-duration: 1.4s;
		transition-duration: 1.4s;
		-webkit-transition-timing-function: cubic-bezier(0, 0, 0.19, 1.51);
		transition-timing-function: cubic-bezier(0, 0, 0.19, 1.51);
	}
	#contact{
		display: none;
	}
	#phil {
		width: 200px;
		height: 200px;
		border: 12px solid #333;
		border-radius: 50% 50%;
	}
	.section-left p {
		font-size: 3rem;
		width: 300px;
		text-align: center;
		margin: 0 auto;
		margin-top: 2rem;
	}
	.form {
		width: 30%;
	}

	#nav-area a {
		margin-left: 2rem;
	}
	.ion-email,.ion-social-facebook,.ion-social-github,.ion-social-linkedin {
		font-size: 2.9rem;
	}

	#header{
		padding-top: 90px;
		padding-bottom: 90px;
	}
	#header h1 {
		font-size: 7rem;
		line-height: 1.8;
	}

	.info {
		width: 70%;
		padding: 4rem 1rem 0rem 1rem;
		text-align: center;
		margin: 0 auto;
	}
	.info p {
		font-size: 2.5rem;

	}

}
@media(min-width: 1200px){
	.form-container {
		width: 60%;
	}
	#nav-area{
		padding-left: 150px;
		padding-right: 150px;
	}
}